body {
    display: flex;
    background-image: url(backgkrg.png);
    background-size:cover;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Optional: Align items in the center */
    justify-content: center;
    position: absolute;
    right: 40px;
    top:40px;
}

ul li {
    position: relative;
    margin-right: 40px; /* Adjust spacing between list items */
}
ul li a {
    text-decoration: none;
    color: inherit;
    outline: none;
    font-size:large;
}



.hover-div{ 
    background: rgb(74, 74, 182);
    height: 2px;
    width: 0px;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

ul li:hover .hover-div {
    width: 100%;

}





.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half of the div's height */
    margin-left: -250px; /* Half of the div's width */
    backdrop-filter: blur(5px);
    border-radius: 4%;
    border: 1px solid black;
    font-size: large;
    font-family: Garamond, serif;
}



.line {
    height:1px;
    width:300px;
    background-color: rgb(74, 74, 182);
    position:absolute;
    top: 51%;
    left:20%;
}

.label-email {
    position: absolute;
    top: 20%;
    left: 20%;
}

#in-em {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius:4px;
    font-size: 16px;
    backdrop-filter: blur(4px);
    background-image:url('mail-outline.svg');
    background-size:10%;
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    position: absolute;
    top: 55%;
    left: 25%;
    
}

#in-em:focus {
    border: 3px solid #555;
  }

.line1{
        height:1px;
        width:300px;
        background-color: rgb(74, 74, 182);
        position:absolute;
        top: 66%;
        left:20%;
}

.label-pass {
    position: absolute;
    top: 30%;
    left: 20%;
}


#in-pass {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius:4px;
    font-size: 16px;
    backdrop-filter: blur(4px);
    background-image:url('mail-outline.svg');
    background-size:10%;
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    position: absolute;
    top: 70%;
    left: 25%;
    
}
#in-pass:focus {
    border: 3px solid #555;
  }


.btn-login {
    position: absolute;
    top: 80%;
    left:20%;
    

}

#in-check{
    position: absolute;

}

.forg-pass-container {
    border:#555 1px solid;
    border-radius:10px;
    position: absolute;
    top: 85%;
    left: 60%;
    right: 10%;
}
.line2 {
    height:1px;
    width:300px;
    background-color: rgb(74, 74, 182);
    position:absolute;
    top: 80.6%;
    left:20%;
}



